<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mimall.mi.mapper.TbItemMapper">

    <sql id="Base_Column_List">
    id, title, sell_point, price, num, limit_num, image, cid, status, created, updated
  </sql>
    <select id="selectByPrimaryKey" parameterType="Long" resultType="com.example.mimall.mi.entity.TbItem">
        select
        <include refid="Base_Column_List" />
        from tb_item
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>